@import 'sassync';
.component-section-title{
    
}


.section-title {
  height: 37px;
  @include flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-top: 2px;
  
  // font-family: FiraGO;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: var(--steel);
}